# Credit Card Risk Classification

---

## Modules and Setup

In [27]:
import os as os
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo 
import matplotlib.pyplot as plt

---

## Background

### Objectives

1. Perform exploratory data analysis (EDA) to understand the dataset and identify patterns
2. Preprocess and clean the data to prepare it for modeling
3. Build, evaluate, and compare multiple classification models
4. Interpret model results and provide further understanding of credit risk

### Dataset

Source: [German Credit Risk](https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data)

---

## Workflow

---

### Loading and Tidying the Data

In [34]:

credit_risk = fetch_ucirepo(id=144) 
X = credit_risk.data.features
Y = credit_risk.data.targets

In [38]:
X.head()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,Attribute11,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201

In [37]:
Y.head()

   class
0      1
1      2
2      1
3      1
4      2

In [39]:
X.shape

(1000, 20)

The dataframe contains 20 columns and 1000 instances

In [40]:
Y.shape

(1000, 1)

In [41]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attribute1   1000 non-null   object
 1   Attribute2   1000 non-null   int64
 2   Attribute3   1000 non-null   object
 3   Attribute4   1000 non-null   object
 4   Attribute5   1000 non-null   int64
 5   Attribute6   1000 non-null   object
 6   Attribute7   1000 non-null   object
 7   Attribute8   1000 non-null   int64
 8   Attribute9   1000 non-null   object
 9   Attribute10  1000 non-null   object
 10  Attribute11  1000 non-null   int64
 11  Attribute12  1000 non-null   object
 12  Attribute13  1000 non-null   int64
 13  Attribute14  1000 non-null   object
 14  Attribute15  1000 non-null   object
 15  Attribute16  1000 non-null   int64
 16  Attribute17  1000 non-null   object
 17  Attribute18  1000 non-null   int64
 18  Attribute19  1000 non-null   object
 19  Attribute20  1000 non-null   object
dtypes: int64(7), object(13)
memory usage: 156.4+ KB

In [45]:
X.isna().sum()

Attribute1     0
Attribute2     0
Attribute3     0
Attribute4     0
Attribute5     0
Attribute6     0
Attribute7     0
Attribute8     0
Attribute9     0
Attribute10    0
Attribute11    0
Attribute12    0
Attribute13    0
Attribute14    0
Attribute15    0
Attribute16    0
Attribute17    0
Attribute18    0
Attribute19    0
Attribute20    0
dtype: int64

The DataFrame has no missing values, but all of the variables are encoded. All categorical variables will be decoded.

---

#### Decoding Variables

---

### Exploratory Data Analysis (EDA)

---

### Data Preprocessing

---

### Model Development

---

### Model Evaluation

---

## Results

---

## Conclusions

---